
BODY {
  background-color: #75FED5;
}
#name {
  color: #FFFFFF;
  margin-left: -10px;
  margin-right: 0px;
  width: 105%;
  text-align: center;
  background: linear-gradient(#0080FF, #5882FA);
  margin-top: -10px;
  height: 40px;
}
#bands {
  background-color: #000000;
}
#bandlist {
  background: linear-gradient(#A4A4A4, #848484);
  margin-top: -19px;
  font-weight: bold;
}
#things {
  font-weight: bold;
  background-color: #FF0000;
  margin-top: -19px;
}
H2 {
  color: #fe9128;
  background: linear-gradient(#0080FF, #5882FA);
  margin-top: -19px;
}
H3 {
  background: linear-gradient(#0080FF, #5882FA);
  margin-top: -19px;
}
P {
  background: linear-gradient(#ACFA58, #74DF00);
}
UL {
  background: linear-gradient(#ACFA58, #74DF00);
  margin-top: -15px;
}
OL {
  background: linear-gradient(#ACFA58, #74DF00);
  margin-top: -15px;
}
