
BODY {
  background: linear-gradient(#CEF6F5, #A9F5F2);
}
#name {
  color: #FFFFFF;
  margin-left: -10px;
  margin-right: 0px;
  width: 105%;
  text-align: center;
  background: linear-gradient(#0080FF, #5882FA);
  margin-top: -10px;
  height: 40px;
}
#bands {
  background-color: #000000;
  margin-left: -10px;
  margin-right: 0px;
  margin-top: -16px
}
#bandlist {
  background: linear-gradient(#A4A4A4, #848484);
  margin-top: -19px;
  font-weight: bold;
}
#things {
  font-weight: bold;
  background-color: #FF0000;
  margin-top: -19px;
}
H2 {
  margin-left: -10px;
  margin-right: 0px;
  color: #fe9128;
  background: linear-gradient(#0080FF, #5882FA);
  margin-top: -17px
}
H3 {
  background: linear-gradient(#0080FF, #5882FA);
  margin-left: -10px;
  margin-right: 0px;
}
